.repos-list {
  display: flex;
  justify-content: space-between;
}

.follow-list {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.user-data-img {
  width: 100px;
  border-radius: 50px;
}
.repos-ul {
  margin-left: 0;
  padding-left: 0;
}
.user-data-login {
  margin-left: 10px;
  color: black;
}
@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */

  .user-data-img {
    width: 50px;
  }
  .user-repos-name,
  .user-data-login {
    font-size: 0.95rem;
  }
}
