.user-bio {
  text-align: left;
  font-size: 16px;
  font-family: unset;
}

.user-stats ul li {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  box-sizing: border-box;
  transition: all 200ms ease;
  position: relative;
  padding: 2px;
}
div.user-stats ul :not(:last-child):hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  border-bottom: 3px solid #3a7999;
}

img.user-img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
